@page "/tenantportal/dashboard"

@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@attribute [Authorize(Roles = "Tenant")]

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1><span class="bi bi-speedometer2" aria-hidden="true"></span> Dashboard</h1>
</div>

@code {
    // Add any necessary code for the dashboard here
}