@page "/tenantportal/documents"

@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@attribute [Authorize(Roles = "Tenant")]

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1><span class="bi bi-file-earmark-text" aria-hidden="true"></span> Documents</h1>
    <button class="btn btn-primary" @onclick="UploadDocument">
        <i class="bi bi-plus-lg"></i> Upload Document
    </button>
</div>

@code {
    private void UploadDocument()
    {
        NavigationManager.NavigateTo("tenantportal/documents/new");
    }
}