@page "/tenantportal/payments"
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@attribute [Authorize(Roles = "Tenant")]

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1><span class="bi bi-cash-coin" aria-hidden="true"></span> Payments</h1>
    <button class="btn btn-primary" @onclick="MakePayment">
        <i class="bi bi-plus-lg"></i> Record Payment
    </button>
</div>

@code {
    private void MakePayment()
    {
        NavigationManager.NavigateTo("tenantportal/payments/new");
    }
}